.topnav-container{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px gray;
    position: sticky;
    z-index: 1;
    padding: 16px; 
    padding-left: 5%;
    padding-right: 5%;
}
.topnav-left{
    display: flex;
}
.topnav-center{
    display: flex;
    margin: auto;
    
}
.topnav-right{
    display: flex;
    
}
.ul-list{
    display: flex;
}
li{
    list-style: none;
    text-align: center  ;
}
.name-brand{
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
}
.tabs{
    cursor: pointer;
    height: 30px;
}
.tabs.active{
    font-weight: bold;
    top: 20px;
    font-size: 20px;
}
.underline-c{
    display: hidden;
}
.underline-c.active{
    background: red;
    width: auto;
    height: 5px;
    border-radius: 20px;
    animation: moveRight 80ms ease-in ;
}
.cart-icon{
    cursor: pointer;
    position: relative;
}
.cart-count{
    position: absolute;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    margin-top: 7px;
    right: 4.6%;
    font-size: 10px;
    color: white;
    font-weight: bold;
    background: red;
}

@keyframes moveRight {
    from {
      transform: translateY(1vw);
    }
}
@keyframes moveLeft {
    from {
      transform: translateY(2vw);
    }
}